.app__navbar{
    width:100%;
    display:flex;
    justify-content:space-between;//justify-content - controls the alignment of items on the horizontal(x-axis).
    align-items:center;//align-items - controls the alignment of items on the vertical(y-axis).
    padding:1rem 2rem;
    background:rgba(255, 255, 255, 0.25);    
    position: fixed;

    //sets the z-order of a positioned element & its descendants or flex items. Overlapping elements with a larger z-index cover those with a smaller one.
    z-index: 2;

    //blur - The blur() CSS function applies a blur to the input image.
    backdrop-filter:blur(4px);//apply graphical effects such as blurring
    -webkit-backdrop-filter: blur(4px);

    border: 1px solid rgba(255, 255, 255, 0.18);
}

.app__navbar-logo{
    display:flex;
    justify-content:flex-start;//justify-content - controls the alignment of items on the horizontal(x-axis).
    align-items:center;//align-items - controls the alignment of items on the vertical(y-axis).

    img{
        width:90px;
        height:20px;

        //extra large devices - only visible in large devices
        @media screen and (min-width:2000px){
            width:180px;
            height: 40px;
        }
    }
}


.app__navbar-links{
    flex:1;//sets how a flex item will grow or shrink to fit the space available in its flex container.
    display:flex; //display:flex - set the items on the horizontal(x-axis).
    justify-content: center;
    align-items: center;
    list-style: none;

    li{
        margin:0.1rem;
        cursor:pointer;
        flex-direction: column;

        div{
            width:5px;
            height:5px;
            background:transparent;
            border-radius: 50%;
            margin-bottom:5px;
        }//div

        a {
            color: var(--gray-color);
            text-decoration:none;
            flex-direction: column;

            text-transform: uppercase;
            font-weight:500;

            /*
            The transition CSS property is a shorthand property for 
            transition-property, transition-duration, transition-timing-function, and transition-delay.
            */
            transition: all 0.3s ease-in-out;//transition-property, transition-duration, transition-timing-function, and transition-delay

            &:hover{
                color: var(--secondary-color);
            }
        }//a

        &:hover{
            div{
                background-color: var(--secondary-color);
            }
        }//&:hover
    }//li

    //not displaying the navbar when width is 900px
    @media screen and (max-width:900px)
    {
        display:none;
    }
}//.app__navbar-links

.app__navbar-menu{
    width:35px;
    height:35px;
    border-radius:50%;
    position:relative;

    display:flex;
    justify-content: center;
    align-items:center;
    background-color: var(--secondary-color);

    svg{
        width:70%;
        height:70%;
        color:var(--white-color);
    }

    div{
        position:fixed;
        top:0; //because displaying menubar on top
        bottom:0;
        right:0;
        z-index:5;

        padding:1rem;
        width:80%;
        height:100vh;

        display:flex;
        justify-content:flex-end;
        align-items:flex-end;
        flex-direction: column;

        background: url('../../assets/bgWhite.png');
        background-color: var(--white-color);
        background-size:cover;
        background-repeat: repeat;

         /* top box shadow */
         box-shadow: 0px 0px 20px rgba(168, 168, 168, 0.15);

         //close icon
        svg{
            width:35px;
            height:35px;
            color:var(--secondary-color);
            margin:0.5rem 1rem;
        }

        ul{
            list-style: none;
            margin:0;
            padding:0;
            height:100%;
            width:100%;

            display:flex;
            justify-content:flex-start;
            align-items:flex-start;
            flex-direction: column;

            li{
                margin:1rem;

                a{
                    color: var(--gray-color);
                    text-decoration: none;
                    font-size: 1rem;
                    text-transform: uppercase;
                    font-weight:500;
                }
            }

        }

    }
}