/* Styles for Projects */

/* Styles for .app__works section */
.app__works {
  flex: 1; /* Take up remaining space */
  width: 100%;
  flex-direction: column; /* Stack children vertically */

  /* Mobile view adjustment */
  @media screen and (max-width: 450px) {
    margin-right: -10%; /* Negative margin for spacing */
  }
}

/* Light theme styles for work filter */
.app__work-filter__light {
  display: flex;
  flex-direction: row; /* Arrange items horizontally */
  justify-content: flex-start; /* Align items to the left */
  align-items: center; /* Center items vertically */
  flex-wrap: wrap; /* Wrap items to new row when necessary */
  margin: 4rem 0 2rem; /* Top, bottom margins; adjusts for spacing */

  /* Individual filter item style */
  .app__work-filter-item {
    padding: 0.5rem 1rem; /* Padding around item */
    border-radius: 0.5rem; /* Rounded corners */
    background-color: var(--lightGray-color); /* Background color */
    color: #000; /* Text color */
    font-weight: 800; /* Bold font weight */
    cursor: pointer; /* Pointer cursor on hover */
    transition: all 0.3s ease; /* Smooth transition effect */
    margin: 0.5rem; /* Margin around items */

    /* Hover effect */
    &:hover {
      background-color: var(--secondary-color); /* Background color on hover */
      color: #fff; /* Text color on hover */
    }

    /* Very large screens */
    @media screen and (min-width: 2000px) {
      padding: 1rem 2rem; /* Adjusted padding */
      border-radius: 0.85rem; /* Adjusted border radius */
    }
  }

  /* Active item style */
  .item-active {
    background-color: var(--secondary-color); /* Background color for active state */
    color: #fff; /* Text color for active state */
  }
}

/* Dark theme styles for work filter */
.app__work-filter__dark {
  display: flex;
  flex-direction: row; /* Arrange items horizontally */
  justify-content: flex-start; /* Align items to the left */
  align-items: center; /* Center items vertically */
  flex-wrap: wrap; /* Wrap items to new row when necessary */
  margin: 4rem 0 2rem; /* Top, bottom margins; adjusts for spacing */

  /* Individual filter item style */
  .app__work-filter-item {
    padding: 0.5rem 1rem; /* Padding around item */
    border-radius: 0.5rem; /* Rounded corners */
    background-color: var(--lightGray-color); /* Background color */
    color: var(--darkSlateBlue-color); /* Text color */
    font-weight: 800; /* Bold font weight */
    cursor: pointer; /* Pointer cursor on hover */
    transition: all 0.3s ease; /* Smooth transition effect */
    margin: 0.5rem; /* Margin around items */

    /* Hover effect */
    &:hover {
      background-color: var(--blueGray-color); /* Background color on hover */
      color: var(--prussianBlue-color); /* Text color on hover */
    }

    /* Very large screens */
    @media screen and (min-width: 2000px) {
      padding: 1rem 2rem; /* Adjusted padding */
      border-radius: 0.85rem; /* Adjusted border radius */
    }
  }

  /* Active item style */
  .item-active {
    background-color: var(--darkSlateBlue-color); /* Background color for active state */
    color: #fff; /* Text color for active state */
  }
}

/* Light theme styles for portfolio items */
.app__work-portfolio__light {
  display: flex;
  flex-wrap: wrap; /* Wrap items to new row when necessary */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */

  /* Individual portfolio item style */
  .app__work-item {
    width: 270px; /* Default width for PC view */
    flex-direction: column; /* Stack children vertically */
    margin: 2rem; /* Default margin around item */
    padding: 1rem; /* Padding around item */
    border-radius: 0.5rem; /* Rounded corners */
    background-color: var(--lightGray-color); /* Background color */
    color: #000; /* Text color */
    cursor: pointer; /* Pointer cursor on hover */
    transition: all 0.3s ease; /* Smooth transition effect */

    /* Hover effect */
    &:hover {
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.2); /* Shadow effect on hover */
    }

    /* Very large screens */
    @media screen and (min-width: 2000px) {
      width: 470px; /* Adjusted width for very large screens */
      padding: 1.25rem; /* Adjusted padding */
      border-radius: 0.75rem; /* Adjusted border radius */
    }

    /* Mobile view */
    @media screen and (max-width: 480px) {
      width: 70%; /* Width for mobile view */
      height: auto; /* Adjust height for mobile view */
      margin-left: 5%; /* Left margin for spacing */
      margin-right: 20%; /* Right margin for spacing */
    }
  }
}

/* Dark theme styles for portfolio items */
.app__work-portfolio__dark {
  display: flex;
  flex-wrap: wrap; /* Wrap items to new row when necessary */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */

  /* Individual portfolio item style */
  .app__work-item {
    width: 270px; /* Default width for PC view */
    flex-direction: column; /* Stack children vertically */
    margin: 2rem; /* Default margin around item */
    padding: 1rem; /* Padding around item */
    border-radius: 0.5rem; /* Rounded corners */
    background-color: var(--darkSlateBlue-color); /* Background color */
    color: #000; /* Text color */
    cursor: pointer; /* Pointer cursor on hover */
    transition: all 0.3s ease; /* Smooth transition effect */

    /* Hover effect */
    &:hover {
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.2); /* Shadow effect on hover */
    }

    /* Very large screens */
    @media screen and (min-width: 2000px) {
      width: 470px; /* Adjusted width for very large screens */
      padding: 1.25rem; /* Adjusted padding */
      border-radius: 0.75rem; /* Adjusted border radius */
    }

    /* Mobile view */
    @media screen and (max-width: 480px) {
      width: 70%; /* Width for mobile view */
      height: auto; /* Adjust height for mobile view */
      margin-left: 5%; /* Left margin for spacing */
      margin-right: 20%; /* Right margin for spacing */
    }
  }
}

/* Styles for project images */
.app__work-img {
  width: 100%; /* Full width */
  height: 230px; /* Default height for PC view */
  position: relative; /* Relative positioning */

  /* Image style */
  img {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    border-radius: 0.5rem; /* Rounded corners */
    object-fit: cover; /* Maintain aspect ratio and cover */
  }

  /* Very large screens */
  @media screen and (min-width: 2000px) {
    height: 350px; /* Adjusted height for very large screens */
  }
}

/* Styles for hover effect on project images */
.app__work-hover {
  position: absolute; /* Absolute positioning */
  top: 0; /* Align to top */
  left: 0; /* Align to left */
  bottom: 0; /* Align to bottom */
  right: 0; /* Align to right */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  border-radius: 0.5rem; /* Rounded corners */
  opacity: 0; /* Initially transparent */
  transition: all 0.3s ease; /* Smooth transition effect */

  /* Content within hover effect */
  div {
    width: 50px; /* Width of inner element */
    height: 50px; /* Height of inner element */
    border-radius: 50%; /* Circular shape */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: #fff; /* Text color */
    margin: 1rem; /* Margin around element */
    font-family: var(--font-base); /* Font family */
    font-weight: 800; /* Bold font weight */
    cursor: pointer; /* Pointer cursor on hover */
    transition: all 0.3s ease; /* Smooth transition effect */

    /* Icon style */
    svg {
      width: 50%; /* Size of SVG icon */
      height: 50%; /* Size of SVG icon */
      color: var(--white-color); /* Icon color */
    }
  }
}

/* Styles for project content */
.app__work-content {
  padding: 0.5rem; /* Padding around content */
  width: 100%; /* Full width */
  position: relative; /* Relative positioning */
  flex-direction: column; /* Stack children vertically */

  /* Project title style */
  h4 {
    margin-top: 1rem; /* Top margin */
    line-height: 1.5; /* Line height */

    /* Very large screens */
    @media screen and (min-width: 2000px) {
      margin-top: 3rem; /* Adjusted top margin for very large screens */
    }
  }

  /* Tags indicating technologies used in projects */
  .app__work-tag {
    position: absolute; /* Absolute positioning */
    padding: 0.5rem 1rem; /* Padding around tag */
    border-radius: 10px; /* Rounded corners */
    background-color: var(--primary-color); /* Background color */
    color: var(--prussianBlue-color); /* Text color */
    top: -25px; /* Offset from top */
  }
}