/* Styles for the footer section */

/* Main footer container */
.app__footer {
  flex: 1;                     /* Allow the footer to grow and fill available space */
  width: 100%;                 /* Full width of the container */
  flex-direction: column;      /* Default layout direction is column */

  /* Tablet view */
  @media screen and (max-width: 768px) {
    flex-direction: column;   /* column layout */
  }

  /* Mobile view */
  @media screen and (max-width: 450px) {
    margin-right: 12%;        /* Adjusted right margin for small screens */
    margin-left: 8%;          /* Adjusted left margin for small screens */
  } 
}

/* Light theme styles for footer cards */
.app__footer-cards__light {
  width: 60%;                  /* Large view: 60% width */
  display: flex;
  justify-content: space-evenly; /* Evenly space out the cards */
  align-items: center;
  flex-wrap: wrap;             /* Wrap the cards if they overflow */
  margin: 4em 2rem 2rem;       /* Margin around the card container */

  /* Individual card style */
  .app__footer-card {
    min-width: 290px;          /* Minimum width for each card */
    display: flex;
    flex-direction: row;       /* Layout direction for card content */
    justify-content: flex-start; /* Align items at the start */
    align-items: center;
    margin: 1rem 0;            /* Margin around each card */
    padding: 1rem;             /* Padding inside each card */
    border-radius: 10px;       /* Rounded corners */
    cursor: pointer;           /* Pointer cursor on hover */
    background-color: var(--lightGray-color); /* Background color */
    transition: all 0.3s ease-in-out; /* Smooth transition for changes */

    /* Image style within the card */
    img {
      width: 40px;
      height: 40px;
      margin: 0 0.7rem;        /* Margin around the image */
    }

    /* Text style within the card */
    p, a {
      font-weight: 500;        /* Font weight for paragraph and anchor text */
    }

    /* Link style within the card */
    a {
      text-decoration: none;   /* Remove underline from links */
    }

    /* Hover effect */
    &:hover {
      box-shadow: 0 0 25px #fef4f5; /* Shadow on hover */
    }

    /* Mobile view adjustments */
    @media screen and (max-width: 450px) {
      margin-left: 10%;        /* Adjusted left margin */
      margin-right: 60%;       /* Adjusted right margin */
      padding-left: 0;         /* No padding on left */
      padding-right: 0;        /* No padding on right */
      padding-top: 1rem;       /* Top padding */
      padding-bottom: 1rem;    /* Bottom padding */
      flex-direction: column;  /* Stack cards vertically */
    }
  }

  @media screen and (max-width: 768px) {
    width: 100%;               /* Mobile and tablet: Full width */
  }
}

/* Dark theme styles for footer cards */
.app__footer-cards__dark {
  width: 60%;                  /* Large view: 60% width */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

  /* Individual card style */
  .app__footer-card {
    min-width: 230px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    background-color: #fef4f5;
    transition: all 0.3s ease-in-out;

    /* Image style within the card */
    img {
      width: 40px;
      height: 40px;
      margin: 0 0.7rem;        /* Margin around the image */
    }

    /* Text style within the card */
    p, a {
      font-weight: 500;        /* Font weight for paragraph and anchor text */
    }

    /* Link style within the card */
    a {
      text-decoration: none;   /* Remove underline from links */
    }

    /* Hover effect */
    &:hover {
      box-shadow: 0 0 25px #fef4f5; /* Shadow on hover */
    }

    /* Mobile view adjustments */
    @media screen and (max-width: 450px) {
      margin-left: 0;          /* Adjusted left margin */
      margin-right: 3%;        /* Adjusted right margin */
      padding-left: 0;         /* No padding on left */
      padding-right: 10px;     /* Right padding */
      padding-top: 1rem;       /* Top padding */
      padding-bottom: 1rem;    /* Bottom padding */
      flex-direction: row;     /* Stack cards horizontally */
    }
  }

  @media screen and (max-width: 768px) {
    width: 100%;               /* Mobile and tablet: Full width */
  }
}

/* Special background for the last card */
.app__footer-cards .app__footer-card:last-child {
  background-color: #f2f7fb;   /* Special background for the last card */
}

/* Hover effect for the last card */
.app__footer-cards .app__footer-card:last-child:hover {
  box-shadow: 0 0 25px #f2f7fb; /* Hover shadow for the last card */
}

/* Light theme styles for footer form */
.app__footer-form__light {
  width: 60%;                  /* Large view: 60% width */
  flex-direction: column;
  margin: 1rem 2rem;           /* Margin around the form container */

  /* Individual form element style */
  div {
    width: 100%;               /* Full width for form elements */
    margin: 0.75rem 0;         /* Margin around form elements */
    border-radius: 10px;       /* Rounded corners */
    cursor: pointer;           /* Pointer cursor on hover */
    background-color: var(--primary-color); /* Background color */
    transition: all 0.3s ease-in-out; /* Smooth transition for changes */
    text-align: center;        /* Center text in mobile view */

    /* Input and textarea style */
    input, textarea {
      width: 100%;             /* Full width for inputs and textareas */
      padding: 0.95rem;        /* Padding inside form elements */
      border: none;
      border-radius: 7px;      /* Rounded corners */
      background-color: var(--white-color); /* Background color */
      font-family: var(--font-base); /* Font family */
      color: var(--secondary-color); /* Text color */
      outline: none;           /* Remove outline */
    }

    /* Textarea specific style */
    textarea {
      height: 170px;           /* Fixed height for textarea */
    }

    /* Hover effect */
    &:hover {
      box-shadow: 0 0 25px var(--primary-color); /* Shadow on hover */
    }
  }

  /* Button style */
  button {
    padding: 1rem 2rem;        /* Padding inside button */
    border-radius: 10px;       /* Rounded corners */
    border: none;
    background-color: var(--secondary-color); /* Background color */
    font-weight: 500;          /* Font weight */
    color: var(--white-color); /* Text color */
    outline: none;             /* Remove outline */
    margin: 2rem 0 0 0;        /* Margin around button */
    font-family: var(--font-base); /* Font family */
    transition: cubic-bezier(0.55, 0.085, 0.68, 0.53); /* Smooth transition */
    cursor: pointer;           /* Pointer cursor on hover */

    /* Hover effect */
    &:hover {
      background-color: #2430af; /* Background color on hover */
    }
  }

  /* Tablet view adjustments */
  @media screen and (max-width: 768px) {
    width: 100%;               /* Mobile and tablet: Full width */
    margin: 1rem 0;            /* Margin adjustment for small screens */
  }

  /* Very small screens adjustments */
  @media screen and (max-width: 450px) {
    div {
      text-align: center;      /* Center text in very small screens */
    }
  }
}

/* Dark theme styles for footer form */
.app__footer-form__dark {
  width: 60%;                  /* Large view: 60% width */
  flex-direction: column;
  margin: 1rem 2rem;           /* Margin around the form container */

  /* Individual form element style */
  div {
    width: 100%;               /* Full width for form elements */
    margin: 0.75rem 0;         /* Margin around form elements */
    border-radius: 10px;       /* Rounded corners */
    cursor: pointer;           /* Pointer cursor on hover */
    background-color: var(--primary-color); /* Background color */
    transition: all 0.3s ease-in-out; /* Smooth transition for changes */
    text-align: center;        /* Center text in mobile view */

    /* Input and textarea style */
    input, textarea {
      width: 100%;             /* Full width for inputs and textareas */
      padding: 0.95rem;        /* Padding inside form elements */
      border: none;
      border-radius: 7px;      /* Rounded corners */
      background-color: var(--white-color); /* Background color */
      font-family: var(--font-base); /* Font family */
      color: var(--secondary-color); /* Text color */
      outline: none;           /* Remove outline */
    }

    /* Textarea specific style */
    textarea {
      height: 170px;           /* Fixed height for textarea */
    }

    /* Hover effect */
    &:hover {
      box-shadow: 0 0 25px var(--primary-color); /* Shadow on hover */
    }
  }

  /* Button style */
  button {
    padding: 1rem 2rem;        /* Padding inside button */
    border-radius: 10px;       /* Rounded corners */
    border: none;
    background-color: var(--darkSlateBlue-color); /* Background color */
    font-weight: 500;          /* Font weight */
    color: var(--lightGray-color); /* Text color */
    outline: none;             /* Remove outline */
    margin: 2rem 0 0 0;        /* Margin around button */
    font-family: var(--font-base); /* Font family */
    transition: cubic-bezier(0.55, 0.085, 0.68, 0.53); /* Smooth transition */
    cursor: pointer;           /* Pointer cursor on hover */

    /* Hover effect */
    &:hover {
      background-color: var(--blueGray-color); /* Background color on hover */
    }
  }

  /* Tablet view adjustments */
  @media screen and (max-width: 768px) {
    width: 100%;               /* Mobile and tablet: Full width */
    margin: 1rem 0;            /* Margin adjustment for small screens */
  }

  /* Very small screens adjustments */
  @media screen and (max-width: 450px) {
    div {
      text-align: center;      /* Center text in very small screens */
    }
  }
}

/* Text color for the footer */
.app__footer-text {
  color: var(--prussianBlue-color); /* Text color */
}

/* Light theme for social section */
.app__SocialContacts__light {
  display: none;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding: 1rem;

  /* Individual social icon style */
  div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--white-color);
    margin: 0.25rem 0;
    border: 1px solid var(--lightGray-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;

    /* Icon style within social icon */
    svg {
      width: 15px;
      height: 15px;
      color: var(--gray-color);
    }

    /* Hover effect */
    &:hover {
      background-color: var(--secondary-color);
      border-color: var(--secondary-color);

      /* Icon color on hover */
      svg {
        color: var(--white-color);
      }
    }

    /* Larger screens adjustments */
    @media screen and (min-width: 2000px) {
      width: 70px;
      height: 70px;
      margin: 0.5rem 0;

      /* Larger icon size */
      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}

/* Dark theme for social section */
.app__SocialContacts__dark {
  display: none;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  padding: 1rem;

  /* Individual social icon style */
  div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--darkSlateBlue-color);
    margin: 0.25rem 0;
    border: 1px solid var(--lightGray-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;

    /* Icon style within social icon */
    svg {
      width: 15px;
      height: 15px;
      color: var(--white-color);
    }

    /* Hover effect */
    &:hover {
      background-color: var(--blueGray-color);
      border-color: var(--white-color);

      /* Icon color on hover */
      svg {
        color: var(--white-color);
      }
    }

    /* Larger screens adjustments */
    @media screen and (min-width: 2000px) {
      width: 70px;
      height: 70px;
      margin: 0.5rem 0;

      /* Larger icon size */
      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}

/* Social section adjustments for small screens */
@media screen and (max-width: 480px) {
  .app__SocialContacts__light,
  .app__SocialContacts__dark {
    display: flex;
    flex-direction: row;
    margin-left: 2%;           /* Adjusted left margin */
    margin-right: 12%;         /* Adjusted right margin */
  }
}
