/* Styles for Experience */

// Main container for experiences section
.app__experiences {
  flex: 1; // Occupy remaining space
  width: 100%; // Occupy full width
  flex-direction: column; // Arrange items vertically

  // Mobile view adjustments
  @media screen and (max-width: 450px) {
    margin-right: 10%; // Adjust right margin for small screens
    display: flex; // Ensure flexbox display
  }
}

// Container for individual experience
.app__experience {
  flex: 1; // Occupy remaining space
  display: flex; // Use flexbox for layout
  justify-content: flex-start; // Align items to start horizontally
  align-items: flex-start; // Align items to start vertically
  flex-direction: column; // Arrange items vertically

  // Tablet view adjustments
  @media screen and (max-width: 900px) {
    margin-top: 2rem; // Adjust top margin for tablet view
  }
}

// Individual experience item
.app__experience-item {
  width: 100%; // Occupy full width
  display: flex; // Use flexbox for layout
  flex-direction: row; // Arrange items horizontally
  justify-content: flex-start; // Align items to start horizontally
  align-items: flex-start; // Align items to start vertically
  margin: 1rem 0; // Apply vertical margin
}

// Container for works within an experience
.app__experience-works {
  flex: 1; // Occupy remaining space

  // Individual work item within experience
  .app__experience-work {
    display: flex; // Use flexbox for layout
    flex-direction: column; // Arrange items vertically
    justify-content: flex-start; // Align items to start horizontally
    align-items: flex-start; // Align items to start vertically
    margin-bottom: 1rem; // Apply bottom margin
    cursor: pointer; // Pointer cursor

    // Title style within work item
    h4 {
      font-weight: 500; // Medium font weight
    }

    // Description style within work item
    p {
      font-weight: 400; // Normal font weight
      color: var(--gray-color); // Text color using custom variable
      margin-top: 5px; // Apply top margin
    }
  }
}

// Light theme for experience year
.app__experience-year__light {
  margin-right: 3rem; // Right margin for desktop view

  // Year text style
  p {
    font-weight: 800; // Bold font weight
    color: var(--secondary-color); // Text color using custom variable
  }

  // Mobile view adjustments
  @media screen and (max-width: 450px) {
    margin-right: 2rem; // Adjusted right margin for small screens
    margin-left: 3%; // Adjusted left margin for small screens
  }
}

// Dark theme for experience year
.app__experience-year__dark {
  margin-right: 3rem; // Right margin for desktop view

  // Year text style
  p {
    font-weight: 800; // Bold font weight
    color: var(--blueGray-color); // Text color using custom variable
  }

  // Mobile view adjustments
  @media screen and (max-width: 450px) {
    margin-right: 2rem; // Adjusted right margin for small screens
    margin-left: 3%; // Adjusted left margin for small screens
  }
}