.app {
  background-color: var(--primary-color);
  font-family: var(--font-base);

  //Mobile view
  @media screen and (max-width: 450px) {
    margin-right:-10% !important;
  }
}

// Light theme background for the app
.app__whitebg__light {
  background-color: var(--white-color);
}

// Dark theme background for the app
.app__whitebg__dark {
  background-color: var(--prussianBlue-color);
}

// Light theme background for the primary color
.app__primarybg__light {
  background-color: var(--primary-color);
}

// Dark theme background for the primary color
.app__primarybg__dark {
  background-color: var(--prussianBlue-color);
}

// Main container for the app layout
.app__container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

// Flex container utility class
.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Wrapper for content with padding
.app__wrapper {
  flex: 1;
  width: 100%;
  flex-direction: column;
  padding: 4rem 2rem;

  // Mobile view: Adjust padding for smaller screens
  @media screen and (max-width: 450px) {
    padding: 4rem 1rem 2rem;
    margin-left: 12%; 
  }
}

// Light theme for the copyright section
.copyright__light {
  width: 100%;
  padding: 2rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  p {
    text-transform: uppercase;
    color: var(--black-color);
  }

  //Mobile view
  @media screen and (max-width: 450px) {
    margin-right:10%;
  }
}

// Dark theme for the copyright section
.copyright__dark {
  width: 100%;
  padding: 2rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  p {
    text-transform: uppercase;
    color: var(--lightGray-color);
  }
  
  //Mobile view
  @media screen and (max-width: 450px) {
    margin-right:10%;
  }
}

// Light theme for head text
.head-text__light {
  font-size: 2.75rem;
  font-weight: 800;
  text-align: center;
  color: var(--gray-color);
  text-transform: capitalize;

  span {
    color: var(--secondary-color);
  }

  // Larger screens: Increase font size
  @media screen and (min-width: 2000px) {
    font-size: 4rem;
  }

  // Mobile view: Decrease font size
  @media screen and (max-width: 450px) {
    font-size: 2rem;
    margin-right:1%;
  }
}

// Dark theme for head text
.head-text__dark {
  font-size: 2.75rem;
  font-weight: 800;
  text-align: center;
  color: var(--blueGray-color);
  text-transform: capitalize;

  span {
    color: var(--secondary-color);
  }

  // Larger screens: Increase font size
  @media screen and (min-width: 2000px) {
    font-size: 4rem;
  }

  // Mobile view: Decrease font size
  @media screen and (max-width: 450px) {
    font-size: 2rem;
    margin-right:1%; 
  }
}

// Light theme for paragraph text
.p-text__light {
  font-size: 0.8rem;
  text-align: left;
  color: var(--gray-color);
  line-height: 1.5;

  // Larger screens: Increase font size
  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
  }
}

// Dark theme for paragraph text
.p-text__dark {
  font-size: 0.8rem;
  text-align: left;
  color: var(--blueGray-color);
  line-height: 1.5;

  // Larger screens: Increase font size
  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
  }
}

// Light theme for bold text
.bold-text__light {
  font-size: 1rem;
  font-weight: 800;
  color: var(--black-color);
  text-align: left;

  // Larger screens: Increase font size
  @media screen and (min-width: 2000px) {
    font-size: 2rem;
  }

  // Mobile view: Decrease font size
  @media screen and (max-width: 450px) {
    font-size: 0.9rem;
  }
}

// Dark theme for bold text
.bold-text__dark {
  font-size: 1rem;
  font-weight: 800;
  color: var(--white-color);
  text-align: left;

  // Larger screens: Increase font size
  @media screen and (min-width: 2000px) {
    font-size: 2rem;
  }

  // Mobile view: Decrease font size
  @media screen and (max-width: 450px) {
    font-size: 0.9rem;
  }
}

// Light theme for social section
.app__social__light {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding: 1rem;

  div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--white-color);
    margin: 0.25rem 0;
    border: 1px solid var(--lightGray-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;

    svg {
      width: 15px;
      height: 15px;
      color: var(--gray-color);
    }

    &:hover {
      background-color: var(--secondary-color);
      border-color: var(--secondary-color);

      svg {
        color: var(--white-color);
      }
    }

    // Larger screens: Increase size
    @media screen and (min-width: 2000px) {
      width: 70px;
      height: 70px;
      margin: 0.5rem 0;

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}

// Dark theme for social section
.app__social__dark {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding: 1rem;

  div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--darkSlateBlue-color);
    margin: 0.25rem 0;
    border: 1px solid var(--lightGray-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;

    svg {
      width: 15px;
      height: 15px;
      color: var(--white-color);
    }

    &:hover {
      background-color: var(--blueGray-color);
      border-color: var(--white-color);

      svg {
        color: var(--white-color);
      }
    }

    // Larger screens: Increase size
    @media screen and (min-width: 2000px) {
      width: 70px;
      height: 70px;
      margin: 0.5rem 0;

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}

// Light theme for navigation dots
.app__navigation__light {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;

  .app__navigation-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--gainsBoro-color);
    margin: 0.5rem;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: var(--secondary-color);
    }

    // Larger screens: Increase size
    @media screen and (min-width: 2000px) {
      width: 20px;
      height: 20px;
    }
  }
}

// Mobile view: Hide navigation and social sections, adjust copyright padding
@media screen and (max-width: 480px) {
  .app__navigation__dark,
  .app__navigation__light,
  .app__social__light,
  .app__social__dark
  {
    display: none;
  }

  .copyright__light, 
  .copyright__dark
  {
    display: block;
    padding: 2rem;
  }
}

// Dark theme for navigation dots
.app__navigation__dark {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;

  .app__navigation-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--gainsBoro-color);
    margin: 0.5rem;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: var(--blueGray-color);
    }

    // Larger screens: Increase size
    @media screen and (min-width: 2000px) {
      width: 20px;
      height: 20px;
    }
  }
}

// Active navigation dot style
.app__navigation-dot--active {
  background-color: var(--prussianBlue-color);
}
